ul,
p,
h1,
h2,
h3,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  background-color: #012d63;
}
.hero-buton {
  font-family: "Roboto";
  background-color: #012d63;
  color: #c7c7c7;
  border: 0;
  margin-left: 29px;
  margin-bottom: 33px;
  margin-top: 30px;
}
.hero-buton:hover,
.hero-buton:focus {
  color: #ffffff;
}
.hero-img {
  margin-top: 17px;
  margin-right: 152px;
}
ul {
  display: flex;
}

.section-hero {
  color: #fff;
  background-color: #012d63;
  background-image: url(./img/Grou37\(1\).png);
  background-size: cover;
  padding-bottom: 183px;
  padding-top: 94px;
}
.buton-calc {
  font-family: "Roboto";
  background: #8e32c6;
  border-radius: 16px;
  padding: 20px 61px 20px 61px;
  color: #fff;
  margin-bottom: 37px;
}

.container {
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.buton-ua {
  margin-left: 73px;
}
.titr-img {
  margin-left: 8px;
  height: 120px;
}
.titre-img {
  margin-left: 39px;
}
.cr {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
}
.yd {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
}
.ghj {
  color: #ffffff;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}
.buton-calc {
  margin-top: 41px;
  border: none;
}
.section-main {
  background-image: url(./img/Group\ 8\ 1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 105px;
  padding-top: 105px;
}
.gh {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.main-div {
  border: 5px solid #8e32c6;
  padding: 25px 50px 25px 50px;
}

.main-ul {
  justify-content: space-between;
}
.hr-li {
  border-right: 1px solid #ffffff;
}
.h1-main {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;

  text-align: center;
  color: #ffffff;
}
.section {
  background-image: url(./img/Group\ 6\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 25px;
}
.color-li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}
.color-Joch {
  background: linear-gradient(
    136.55deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 14px 0px -5px #7b54b3, 0px 30px 0px -13px #533978;
  border-radius: 15px;
  width: 255px;
  padding: 49px 18px 29px 9px;
  height: 292px;
  margin-bottom: 115px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 60px;
  color: #ffffff;
}
.color-liza {
  background: linear-gradient(
    136.55deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
  border-radius: 15px;
  width: 255px;

  padding: 49px 18px 29px 9px;
  height: 292px;
  margin-bottom: 115px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 93px;
  color: #ffffff;
}
.color-tom {
  background: linear-gradient(
    142.67deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
  border-radius: 15px;
  width: 255px;
  padding: 49px 18px 29px 9px;
  height: 292px;
  margin-bottom: 115px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 93px;
  color: #ffffff;
}

.container-reviews {
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
}
.time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  color: #d8d8d8;
  margin-bottom: 47px;
}
.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}
.names {
  display: inline-block;
  display: flex;
  max-height: 32px;
}
.img-main {
  background-size: cover;
}
.timen {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  color: #d8d8d8;
}
.div-name {
  margin-left: 5px;
}
.container-order {
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.section-order {
  background-image: url(./img/Group\ 2\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.order {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}
.inputi {
  background: #ffffff;
  border-radius: 50px;
  width: 690px;
  height: 60px;
  margin-top: 33px;
}
.input {
  background: #ffffff;
  border-radius: 50px;
  width: 580px;
  height: 50px;
}
input {
  padding-left: 24px;
  margin-bottom: 19px;
  color: #959595;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  border: none;
  border-radius: 0px;
}
.png {
  margin-right: 18px;
  position: absolute;
  flex: content;
  margin-top: 51px;
}

.div-footer {
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;

  padding-top: 45px;
}
.section-footer {
  background-color: #021635;
}

.p-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 10px;
}
.a-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: underline;
  padding-bottom: 10px;
  color: #ffffff;
  display: inline-block;
}
.li-footer-2 {
  display: flow-root;
  text-align: right;
  margin-bottom: 20px;
  margin-left: auto;
}
.ul-footer {
  border-bottom: 1px solid #9b9b9b;
  margin-bottom: 24px;
}
.p-footer-2 {
  color: #fff;
  font-size: 24px;
  font-family: PT Serif;
  margin-right: 26px;
}
.p-footer-3 {
  font-size: 18px;
  font-family: Roboto;
}
.p {
  margin-bottom: 7px;
}
.order-ul {
  display: flow-root;
}
.hr-li {
  padding-right: 40px;
}
