ul,
p,
h1,
h2,
h3,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* header */

header {
  background-color: #012d63;
}
.hero-buton {
  font-family: "Roboto";
  background-color: #012d63;
  color: #c7c7c7;
  border: 0;
  margin-left: 29px;
  margin-bottom: 33px;
  margin-top: 30px;
}
.hero-buton:hover,
.hero-buton:focus {
  color: #ffffff;
}
.hero-img {
  margin-top: 17px;
  margin-right: 152px;
}
ul {
  display: flex;
}

/* main */
/* hero */
.section-hero {
  color: #fff;
  background-color: #012d63;
  background-image: url(/img/Grou37\(1\).png);
  background-size: cover;
  padding-bottom: 183px;
  padding-top: 94px;
}
.buton-calc {
  font-family: "Roboto";
  background: #8e32c6;
  border-radius: 10px;
  padding: 20px 61px 20px 61px;
  color: #fff;
  margin-bottom: 37px;
}
.hero-list {
}
.container {
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}
.buton-ua {
  margin-left: 73px;
}
.titr-img {
  margin-left: 8px;
}
.cr {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
}
.yd {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
}
.ghj {
 
  color: #ffffff;
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 48px;
text-align: center;
}
.buton-calc {
  margin-top: 41px;
}
.section-main {
  background-image: url(/img/Group\ 8\ 1.png) ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 105px;
  padding-top: 105px;
}
.gh {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.main-div {
  border: 5px solid #8e32c6;
  padding: 25px 50px 25px 50px;
}




.main-ul{
  justify-content: space-between;
  

}
.hr-li{
  border-right:1px solid #ffffff
}
.h1-main{
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 64px;

text-align: center;
color: #FFFFFF;

}
.section{
  background-image: url(/img/Group\ 6\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
 
  padding-top: 25px;
}
.color-li{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
 .color-Joch{
  
  background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
box-shadow: 0px 14px 0px -5px #7B54B3, 0px 30px 0px -13px #533978;
border-radius: 15px;
width: 255px;
padding: 49px 18px 29px 9px;
height: 292px;

 }
 .color-liza{
  background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
border-radius: 15px;
width: 255px;

padding: 49px 18px 29px 9px;
height: 292px;
 }
 .color-tom{
  background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
border-radius: 15px;
width: 255px;
padding: 49px 18px 29px 9px;
height: 292px;
 }

.container-reviews{
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
  padding-bottom: 114px;
  justify-content: space-around;
  padding-top: 24px;
}
.time{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: inline-block;
color: #D8D8D8;
margin-bottom: 47px;
}
.name{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;
}
.names{
  display: inline-block;
  display: flex;
  max-height: 32px;
}
  
.img-main{

  background-size: cover;
}
.timen{ 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  color: #D8D8D8;

}
.div-name{
  margin-left: 5px;
}
.container-order{
 
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;}
.section-order{
  background-image: url(/img/Group\ 2\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.order{
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 64px;
color: #FFFFFF;
}
.inputi{
  background: #FFFFFF;
border-radius: 50px;
width: 690px;
height: 60px;
margin-top: 33px;
}
.input{
  background: #FFFFFF;
  border-radius: 50px;
  width: 580px;
height: 50px;

}
input{
  padding-left: 24px;
  margin-bottom: 19px;
  color: #959595;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;

}